.content-n-side:before,
.content-only:before,
.page-width:before,
.post-preview:before,
.content-n-side:after,
.content-only:after,
.page-width:after,
.post-preview:after {
    content: " ";
    display: table
}

.content-n-side:after,
.content-only:after,
.page-width:after,
.post-preview:after {
    clear: both
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url(https://themes.googleusercontent.com/static/fonts/inconsolata/v6/BjAYBlHtW3CJxDcjzrnZCCwlidHJgAgmTjOEEzwu1L8.ttf) format("truetype");
    font-display: optional
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url(https://themes.googleusercontent.com/static/fonts/ptserif/v5/EgBlzoNBIHxNPCMwXaAhYHYhjbSpvc47ee6xR_80Hnw.ttf) format("truetype");
    font-display: optional
}

html {
    overflow-y: scroll;
    background: #f1f1f1;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.9
}

@media screen and (min-width: 530px) {
    html {
        font-size: 16px;
        color: #444
    }
}

body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%
}

figure {
    margin: 0
}

img {
    max-width: 100%
}

p {
    margin: 1.2em 0
}

a:link,
a:visited {
    text-decoration: none;
    color: #CC2100
}

a:active,
a:hover,
a:focus {
    color: #FF8F00
}

a:active {
    text-decoration: underline
}

svg {
    overflow: hidden
}

.container {
    max-width: 1066px;
    background: #fff;
    margin: 0 auto
}

.content-n-side,
.content-only,
.page-width {
    position: relative;
    top: -31px;
    padding: 0 20px
}

@media screen and (min-width: 530px) {
    .content-n-side,
    .content-only,
    .page-width {
        padding: 0 64px 0 32px
    }
}

@media screen and (min-width: 800px) {
    .content-n-side,
    .content-only,
    .page-width {
        padding: 0 32px
    }
}

.content-n-side>.side {
    display: none
}

@media screen and (min-width: 800px) {
    .content-n-side>.content {
        width: 75%;
        padding-right: 73px;
        float: left;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .content-n-side>.side {
        width: 25%;
        float: right;
        display: block
    }
}

.page-width {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1066px;
    margin: 0 auto
}

@media screen and (min-width: 800px) {
    .content-only>.content {
        width: 68%
    }
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #e6e6e6));
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.btn:hover {
    background-position: 0 -15px;
    background-color: #e6e6e6;
    -webkit-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}

.btn-danger {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #DA4F49;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EE5F5B), color-stop(1, #BD362F));
    background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    color: #FFF;
    background-color: #BD362F
}

.site-header {
    background: #2D2D2D;
    overflow: hidden
}

.site-header>.inner {
    padding-top: 75px;
    padding-left: 0
}

@media screen and (min-width: 530px) {
    .site-header>.inner {
        padding-top: 135px
    }
}

.site-header a:link,
.site-header a:visited {
    color: #fff
}

.site-header a:hover,
.site-header a:active {
    color: #fff;
    text-decoration: underline
}

.site-header .title,
.site-header .about {
    background: #0C9A1C;
    line-height: 1;
    font-family: "PT Serif", georgia, serif;
    display: inline-block;
    font-size: 1.05rem;
    padding: 10px 45px 10px 20px
}

@media screen and (min-width: 530px) {
    .site-header .title,
    .site-header .about {
        padding: 10px 97px 10px 32px
    }
}

@media screen and (min-width: 1066px) {
    .site-header .title,
    .site-header .about {
        border-radius: 7px 7px 0 0
    }
}

.site-header .about {
    float: right;
    padding: 10px 0;
    background: none;
    margin-right: 0
}

@media screen and (min-width: 530px) {
    .site-header .about {
        margin-right: -32px
    }
}

@media screen and (min-width: 800px) {
    .site-header .about {
        position: absolute;
        right: 25%;
        padding-right: 90px
    }
    .js .site-header .about {
        display: none
    }
}

.h-1,
.article-content h1,
.about-me>h1 {
    background: #800080;
    color: #FFF;
    margin: 0;
    font-family: "PT Serif", georgia, serif;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1.1;
    margin-left: -20px;
    padding: 7px 20px 13px 20px
}

@media screen and (min-width: 530px) {
    .h-1,
    .article-content h1,
    .about-me>h1 {
        font-size: 3.4rem;
        padding: 10px 36px 17px 62px;
        margin-left: -65px;
        margin-right: -32px
    }
}

@media screen and (min-width: 1066px) {
    .h-1,
    .article-content h1,
    .about-me>h1 {
        border-radius: 32px 0 0 32px
    }
}

.h-2,
.article-content h2,
.about-me>section>h1 {
    background: #0C9A1C;
    color: #FFF;
    margin: 35px 0 0;
    font-family: "PT Serif", georgia, serif;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1;
    padding: 7px 20px 10px 20px;
    margin-left: -20px
}

@media screen and (min-width: 530px) {
    .h-2,
    .article-content h2,
    .about-me>section>h1 {
        font-size: 1.9rem;
        padding: 10px 35px 13px 62px;
        margin-right: -32px;
        margin-left: -65px
    }
}

@media screen and (min-width: 1066px) {
    .h-2,
    .article-content h2,
    .about-me>section>h1 {
        border-radius: 32px 0 0 32px
    }
}

.h-3,
.article-content h3 {
    margin: 27px 0 0;
    line-height: 1;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border-left: 14px solid #800080;
    padding-left: 8px
}

@media screen and (min-width: 530px) {
    .h-3,
    .article-content h3 {
        font-size: 1.2rem;
        border-left: 19px solid #800080;
        padding-left: 12px
    }
}

.h-4,
.side>section>h1 {
    font-weight: normal;
    font-size: 0.9rem;
    border-bottom: 1px dotted #CCC;
    padding-bottom: 3px;
    margin: 1.4em 0 0;
    line-height: 1
}

.article-date {
    font-size: 0.8rem;
    display: block;
    background: #C0C0C0;
    color: #000;
    padding: 6px 20px 5px 20px;
    margin: 0 0 0 -20px
}

@media screen and (min-width: 530px) {
    .article-date {
        padding: 6px 10px 5px 32px;
        margin-left: -32px;
        margin-right: -32px
    }
}

.article-content code {
    font-family: Inconsolata, courier, monospace;
    background: #EEE;
    padding: 3px 3px;
    margin: 0 2px;
    outline: 1px solid #E2E2E2;
    line-height: 1;
    white-space: normal;
    display: inline-block
}

.full-figure {
    margin: 1em -20px;
    overflow: hidden;
    background: #eee
}

@media screen and (min-width: 530px) {
    .full-figure {
        margin-left: 0;
        margin-right: 0
    }
}

.full-figure.checked {
    background: url("imgs/check.b7a5500dc6b1.png")
}

.full-figure.blueprint {
    background: url("imgs/graph-tile.fe4622590f61.png"), radial-gradient(circle farthest-corner, #08d, #002b46) center;
    background-size: 12%, cover
}

.full-figure img,
.full-figure iframe,
.full-figure video,
.full-figure object {
    display: block;
    margin: 0 auto
}

.full-figure .video {
    position: relative;
    padding-top: 56.25%
}

.full-figure .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.full-figure>figcaption {
    font-size: 0.8rem;
    line-height: 1.4;
    background: #C0C0C0;
    color: #000;
    padding: 6px 20px
}

@media screen and (min-width: 530px) {
    .full-figure>figcaption {
        padding: 6px 10px
    }
}

.side {
    font-size: 0.85rem;
    font-weight: normal
}

.side .icon-list {
    margin: 1em 0;
    display: flex;
    flex-flow: row wrap
}

.side .icon-list>li {
    flex: 0 0 50%
}

.with-my-new-bike {
    margin-top: 10px
}

.with-my-new-bike h1 {
    position: relative;
    margin: 0;
    padding: 76.27907% 0 0 0;
    outline: 10px solid #fff;
    background: #fff
}

.with-my-new-bike img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.codehilite {
    background: #2D2D2D;
    color: #E4E4E4;
    margin: 1em -20px;
    padding: 16px 20px;
    line-height: 1.4;
    font-size: 1rem;
    overflow: auto
}

@media screen and (min-width: 530px) {
    .codehilite {
        margin-left: -32px;
        margin-right: 0;
        padding-left: 32px;
        padding-right: 0;
        font-size: 1.1rem
    }
}

.codehilite pre {
    font-family: Inconsolata, courier, monospace;
    margin: 0;
    display: inline-block;
    padding-right: 16px
}

.codehilite .hll {
    background-color: #ffffcc
}

.codehilite .c {
    color: #f48c5f
}

.codehilite .err {
    color: #E4E4E4
}

.codehilite .g {
    color: #E4E4E4
}

.codehilite .k {
    color: #b294bb
}

.codehilite .l {
    color: #E4E4E4
}

.codehilite .n {
    color: #E4E4E4
}

.codehilite .o {
    color: #6cc0b7
}

.codehilite .x {
    color: #E4E4E4
}

.codehilite .p {
    color: #E4E4E4
}

.codehilite .cm {
    color: #f48c5f
}

.codehilite .cp {
    color: #fcaf3e
}

.codehilite .c1 {
    color: #f48c5f
}

.codehilite .cs {
    color: #f48c5f
}

.codehilite .gd {
    color: #2e3436;
    background-color: #0e1416
}

.codehilite .ge {
    color: #E4E4E4
}

.codehilite .gr {
    color: #eeeeec;
    background-color: #cc0000
}

.codehilite .gh {
    color: #fcaf3e
}

.codehilite .gi {
    color: #E4E4E4;
    background-color: #1f2b2d
}

.codehilite .go {
    color: #2c3032;
    background-color: #2c3032
}

.codehilite .gp {
    color: #E4E4E4
}

.codehilite .gs {
    color: #E4E4E4
}

.codehilite .gu {
    color: #fcaf3e
}

.codehilite .gt {
    color: #E4E4E4
}

.codehilite .kc {
    color: #b294bb
}

.codehilite .kd {
    color: #b294bb
}

.codehilite .kn {
    color: #b294bb
}

.codehilite .kp {
    color: #b294bb
}

.codehilite .kr {
    color: #b294bb
}

.codehilite .kt {
    color: #e3e7df
}

.codehilite .ld {
    color: #E4E4E4
}

.codehilite .m {
    color: #f48c5f
}

.codehilite .s {
    color: #b2bd67
}

.codehilite .na {
    color: #e65b67
}

.codehilite .nb {
    color: #f0c674
}

.codehilite .nc {
    color: #E4E4E4
}

.codehilite .no {
    color: #f48c5f
}

.codehilite .nd {
    color: #E4E4E4
}

.codehilite .ni {
    color: #888a85
}

.codehilite .ne {
    color: #E4E4E4
}

.codehilite .nf {
    color: #fcaf3e
}

.codehilite .nl {
    color: #E4E4E4
}

.codehilite .nn {
    color: #E4E4E4
}

.codehilite .nx {
    color: #E4E4E4
}

.codehilite .py {
    color: #E4E4E4
}

.codehilite .nt {
    color: #e65b67
}

.codehilite .nv {
    color: #ffffff
}

.codehilite .ow {
    color: #E4E4E4
}

.codehilite .w {
    color: #E4E4E4
}

.codehilite .mf {
    color: #f48c5f
}

.codehilite .mh {
    color: #f48c5f
}

.codehilite .mi {
    color: #f48c5f
}

.codehilite .mo {
    color: #f48c5f
}

.codehilite .sb {
    color: #E4E4E4
}

.codehilite .sc {
    color: #E4E4E4
}

.codehilite .sd {
    color: #E4E4E4
}

.codehilite .s2 {
    color: #b2bd67
}

.codehilite .se {
    color: #E4E4E4
}

.codehilite .sh {
    color: #E4E4E4
}

.codehilite .si {
    color: #E4E4E4
}

.codehilite .sx {
    color: #E4E4E4
}

.codehilite .sr {
    color: #E4E4E4
}

.codehilite .s1 {
    color: #b2bd67
}

.codehilite .ss {
    color: #E4E4E4
}

.codehilite .bp {
    color: #E4E4E4
}

.codehilite .vc {
    color: #ffffff
}

.codehilite .vg {
    color: #ffffff
}

.codehilite .vi {
    color: #ffffff
}

.codehilite .il {
    color: #f48c5f
}

.i {
    display: inline-block;
    vertical-align: middle
}

.i-social {
    width: 16px;
    height: 16px;
    background: url("imgs/social-icons.4e4bec7e3c11.png") no-repeat;
    background-size: 106px
}

.i-social.flickr {
    background-position: 0 0
}

.i-social.lanyrd {
    background-position: -18px 0
}

.i-social.github {
    background-position: -36px 0
}

.i-social.twitter {
    background-position: -54px 0
}

.i-social.gplus {
    background-position: -72px 0
}

.i-social.rss {
    background-position: -90px 0
}

.icon-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.icon-list>li {
    margin: 0 0 0.3em
}

.icon-list .i {
    margin-right: 4px
}

.link-list a {
    display: block
}

.comments {
    margin-top: 50px
}

.post-preview h1 {
    margin-top: 0
}

.post-preview h1 a:link,
.post-preview h1 a:visited {
    display: block;
    color: #fff
}

.post-preview h1 a:hover,
.post-preview h1 a:active {
    color: #fff;
    text-decoration: underline
}

.post-preview .preview-image {
    margin: 20px 0 0
}

@media screen and (min-width: 530px) {
    .post-preview .preview-image {
        float: left;
        width: 200px;
        margin: 5px 20px 20px 0
    }
}

.post-preview .preview-image-sizer {
    position: relative
}

.post-preview .preview-image-sizer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.pagination {
    overflow: hidden;
    margin: 2.1em 0;
    padding: 0
}

.pagination li {
    display: inline
}

.pagination a:link,
.pagination a:visited,
.pagination .page,
.pagination .next,
.pagination .prev,
.pagination .gap {
    float: left;
    padding: 0 8px;
    font-weight: bold;
    border-right: 1px dotted #a5a5a5
}

.pagination .current,
.pagination .disabled,
.pagination .gap {
    color: #6e6e6e;
    font-weight: normal
}

.pagination .prev,
.pagination a.prev:link,
.pagination a.prev:visited {
    padding-left: 0
}

.pagination .next,
.pagination a.next:link,
.pagination a.next:visited {
    border: none
}

.form-rows {
    margin: 1em -20px
}

.codehilite+.form-rows {
    margin-top: -1.1em
}

@media screen and (min-width: 530px) {
    .form-rows {
        margin-left: -32px;
        margin-right: 0
    }
}

.form-rows .field {
    display: table-row
}

.form-rows .field:nth-child(even) .label {
    background: #3CB39D
}

.form-rows .field:nth-child(even) .input {
    background: #f7f7f7
}

.form-rows .label {
    background: #0C9A1C;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    padding: 0.5em;
    padding-left: 20px
}

@media screen and (min-width: 530px) {
    .form-rows .label {
        padding-left: 32px
    }
}

.form-rows .input {
    background: #ECECEC;
    padding: 0 0.5em;
    vertical-align: middle;
    display: table-cell
}

.form-rows input[type=text],
.form-rows input[type=range] {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.form-rows-inner {
    display: table;
    width: 100%
}

.quote {
    margin: 0;
    border-left: 10px solid #D5D5D5;
    padding-left: 16px
}

.quote>p:last-of-type {
    margin-bottom: 0
}

.warning {
    background: #BF0000;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 6px 20px 5px 20px;
    margin: 0 0 0 -20px
}

@media screen and (min-width: 530px) {
    .warning {
        padding: 6px 10px 5px 32px;
        margin-left: -32px;
        margin-right: -32px
    }
}

.warning>:first-child {
    margin-top: 0
}

.warning>:last-child {
    margin-bottom: 0
}

.about-me figure img {
    display: block;
    margin: 0 auto
}

.about-me .icon-list {
    -webkit-columns: 100px;
    -moz-columns: 100px;
    columns: 100px;
    margin: 16px 0
}

.blog-index .post-preview.first .h-2 {
    background: #800080
}


/*# sourceMappingURL=all.css.map */

